.border {
  border: 3px #cacaca dashed;
}

.border-radius {
  border-radius: 20px;
}

div {
  background: white;
}

.add-icon {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -3px;
}
