<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start" (click)="cancel()">
      <ion-back-button defaultHref="" text="{{ 'Common_Back' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        {{ 'NotificationsFilter_Reset' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'NotificationsFilter_Filter' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-white">
  <form [formGroup]="filterForm">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-col size="12">
          <ion-label>
            {{ 'NotificationsFilter_Status' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center ion-padding-bottom">
        <ion-col class="header-btn activated">
          <!-- "NotificationsFilter_Read": "Read",
          "NotificationsFilter_Unread": "Unread",
          "NotificationsFilter_All": "All" -->

          <ion-icon name="apps" color="primary"></ion-icon>

          <ion-label class="mat-small">
            {{ 'NotificationsFilter_All' | translate }}
          </ion-label>
        </ion-col>
        <ion-col class="header-btn">
          <ion-icon name="mail-open"></ion-icon>

          <ion-label class="mat-small">
            {{ 'NotificationsFilter_Read' | translate }}
          </ion-label>
        </ion-col>
        <ion-col class="header-btn">
          <ion-icon name="mail"></ion-icon>

          <ion-label class="mat-small">
            {{ 'NotificationsFilter_Unread' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-no-padding ion-no-margin border-gap"></ion-col>
      </ion-row>
      <ion-row class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-col size="6">
          <ion-label>
            {{ 'NotificationsFilter_StartDate' | translate }}
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            {{ 'NotificationsFilter_EndDate' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start ion-padding-bottom ion-no-padding">
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <ion-datetime displayFormat="MMM DD YYYY" formControlName="startDate"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <ion-datetime displayFormat="MMM DD YYYY" formControlName="endDate"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-no-padding ion-no-margin border-gap"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-padding" no-border transparent>
  <ion-button fill="solid" expand="block" color="primary" (click)="apply()">
    {{ 'Common_Apply' | translate }}
  </ion-button>
</ion-footer>
