<ion-grid no-padding>
  <ion-row class="transparent" align-items-start justify-content-end>
    <ion-col size="3">
      <ion-fab-button size="small" color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
  <ion-row class="transparent" align-items-end justify-content-center>
    <ion-col size="3">
      <ion-fab-button size="small" color="secondary" (click)="toggleLight()">
        <ion-icon name="flash"></ion-icon>
      </ion-fab-button>
    </ion-col>
    <ion-col size="3">
      <ion-fab-button size="small" color="secondary" (click)="reverseCamera()">
        <ion-icon name="reverse-camera"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
</ion-grid>
