<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="{{'Common_Back'|translate}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="oppId === 'mytestdrive' && segment === 'alltestdrive'">
      <ion-button (click)="showModelInterestComp()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"TestdrivePage_Testdrives"|translate}}<br />
      <ion-text *ngIf="oppId && countryCode === 'my'" class="sub-header"> {{"TestdrivePage_OpportunityID"|translate}}: {{oppId}} </ion-text>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar mode="ios" *ngIf="oppId === 'mytestdrive' || oppId === 'all'">
    <ion-segment mode="ios" [(ngModel)]="segment" (ionChange)="segmentChanged($event)" class="ion-no-margin">
      <ion-segment-button value="mytestdrive">
        <ion-label> {{"Testdrive_MyTestDrive"|translate}} </ion-label>
      </ion-segment-button>
      <ion-segment-button value="alltestdrive">
        <ion-label> {{"Testdrive_AllTestDrive"|translate}} </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <ng-container *ngIf="segment === 'mytestdrive'">
    <ion-grid class="ion-margin-top ion-margin-bottom border-radius bg-white" *ngFor="let td of mytestdrives">
      <ion-row class="ion-no-margin">
        <ion-col>
          <ion-label color="{{getColor(td?.Vehicle)}}">
            <b>{{td?.Vehicle?.Status}}</b>
          </ion-label>

          <ion-icon class="bottom-icon" src="{{ getIcon(td?.Vehicle) }}"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.ContactName }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.Vehicle?.RegNum }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">
            <b>{{td?.Vehicle?.Name}}</b>
          </ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.ExpiryDate | date: "dd MMM y" }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}"> {{ td?.PlannedStartDate | date: "dd MMM y hh:mm a" }} </ion-label>
          <ion-label>
            <a (click)="goToTestdrive(td)"> {{"OpportunityTab_ViewDetails"|translate}} </a>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="segment === 'alltestdrive'">
    <ion-grid class="ion-margin-top ion-margin-bottom border-radius bg-white" *ngFor="let td of testdrives">
      <ion-row class="ion-no-margin">
        <ion-col>
          <ion-label color="{{getColor(td?.Vehicle)}}">
            <b>{{td?.Vehicle?.Status}}</b>
          </ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">
            <b>{{td?.SalesRep}}</b>
          </ion-label>
          <ion-icon class="bottom-icon" src="{{ getIcon(td?.Vehicle) }}"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.ContactName }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.Vehicle?.RegNum }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">
            <b>{{td?.Vehicle?.Name}}</b>
          </ion-label>
          <ion-label *nfIf="countryCode == 'my'" color="{{getColor(td?.Vehicle)}}">{{ td?.DrivingLicense }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}">{{ td?.ExpiryDate | date: "dd MMM y" }}</ion-label>
          <ion-label color="{{getColor(td?.Vehicle)}}"> {{ td?.PlannedStartDate | date: "dd MMM y hh:mm a" }} </ion-label>
          <ion-label>
            <a (click)="goToTestdrive(td)"> {{"OpportunityTab_ViewDetails"|translate}} </a>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
