ion-item {
  --background: var(--ion-color-content-color);
  border-radius: 10px;
}

div {
  background: var(--ion-color-content-color);
}

.white {
  background: white;
}

.ht-100 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  flex-grow: 1;
}
.border-gap {
  height: 15px;
  background-color: #e8eaed;
}
