.profile {
  margin: auto;
  width: 60px;
  height: 60px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.badge {
  position: absolute;
  right: 5px;
  bottom: 1px;
  background-color: black;
  border-radius: 50%;
  height: 25px;
}

.icon-size {
  font-size: 20px;
}

.icon-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.h100 {
  height: 100%;
}
