<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="moby-title">
        <svg viewBox="0 0 500 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="70%">MOBY</text>
          </symbol>
          <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
