ion-grid {
  --headerHeight: 44px;
  --totalHeight: 60vh;
  min-height: var(--totalHeight);
}

ion-toolbar {
  --height: var(--headerHeight);
  ion-title {
    padding: 0;
  }
}

ion-chip ion-label,
ion-item ion-label {
  font-size: 0.75em !important;
}

ion-list.selectHeader {
  margin-bottom: 0;
}

.transparent {
  background: transparent;
  background-clip: content-box;
}

ion-row.transparent {
  height: calc(var(--totalHeight) / 2);
}

ion-row[justify-content-center] {
  padding-bottom: 1em;
  ion-fab-button {
    margin: auto;
  }
}

.selectors {
  max-height: 25vh;
  overflow-y: auto;
}
