ion-avatar {
  margin: auto;
}

ion-col {
  margin-top: 10px;
}
.no-top-margin {
  margin-top: 0;
}

.center {
  display: block;
  margin: auto;
}

.border-bottom {
  border-bottom: 1px solid #dedde0;
}
